.nav_list {
    display: flex;
    flex-direction: row;
    gap: 57px;
    @media screen and (max-width: 900px){
        gap: 10px;        
    }
    &_active {
        text-decoration: underline;
        text-decoration-thickness: 1.5px;
    }

}
