@import '../../styles/main.scss';

.errorSection {
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .error_info_title{
        font-size: 288px;
        color: $color-text-orange;
        font-weight: 700;
        text-align: center;
        @media screen and (max-width: 900px) {
            font-size: 96px;

        }
    }
    .error_info_text{
        font-size: 36px;
        color: $color-text-orange;
        text-align: center; 
        
        @media screen and (max-width: 900px) {
            font-size: 18px;
            
        }
    }
    .error_linkToHome{
        font-size: 18px;
        color: $color-text-orange;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-align: center;
        @media screen and (max-width: 900px) {
            font-size: 14px;
            
        }
        
    }
}